@model PuppetMaster.WebUi.WebrootViewModel
@{
    ViewBag.Title = "Home";
    Layout = "_Layout.cshtml";
}


@section PreContent{
    
<div class="full-header" style="padding-top: 40px;">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3" style="padding-top: 35px;">

            <h1 class="center-block text-center">PuppetMaster</h1>
        </div>
    </div>
</div>

}

Record port: @Model.RecordPort </br>
Reply port: @Model.ReplyPort